body {
  font: sansserif
}

p.intro {
  width:50%;
  font-style: italic;
}

.important {
  color:red;
}

.unimportant {
  color:blue
}

.fish-type {
  font-weight:bold;
}

.rightfloat {
  height: 100px;
  width: 125px;
  float:right;
  border: solid lightblue;
  padding: 4px;
  margin: 2px;
}

.sidebar {
  width: 20%;
  float: right;
  background-color: lightblue;
}
.main {
  width:250px;
  float:left;
  padding-right: 1px;
  padding-left: 5px;
  margin: 2px;
}

.digital p {
  background-color: red;
}

.analog p {
  background-color: yellow;
}

.digital p a {
  font-weight: bold;
}

.analog p a {
  font-style: italic;
}

#bright {
  color: green;
}
